<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <script th:src="@{/js/jquery-3.3.1.js}"></script>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
<body>
    UserName：<input id="nameid" type="text"/><br/>
    Password：<input id="pwdid"type="pwdid"/><br/>
    <input type="button" onclick="loginClick()" value="Login"/>
    <input id="checkId" type="checkbox"/>
</body>
    <script>
        $(function() {
            cookieLogin();
        })

        /**
         * login
         */
        function loginClick() {
            var username = $("#nameid").val();
            var userpwd = $("#pwdid").val();
            var checked = $("#checkId").is(":checked");
            $.ajax({
                url:"/loginCtr/login",
                type:"post",
                data:{"username":username,"userpwd":userpwd,"checked":checked},
                success:function(message) {
                    if(message == "success") {
                        location.href = "/loginCtr/welcome";
                    } else {
                        alert(message);
                    }
                }
            })
        }

        /**
         * Cookie登陆
         */
        function cookieLogin() {
            $.ajax({
                url:"/loginCtr/cookisLogin",
                type:"post",
                success:function(message) {
                    if(message == "success") {
                        location.href = "/loginCtr/welcome";
                    }
                }
            })
        }
    </script>
</html>